@import url(https://fonts.googleapis.com/css?family=Questrial:700,400);

body {
  font-family: 'Questrial';
  font-weight: 400;
  background-color: #e6e2da;
  margin: 0 auto;
}

h1 {
  color: #304064;
}

h2 {
  color: #6d8080;
  margin-bottom: 0.2em;
}

a:link, a:active, a:visited {
  text-decoration: none;
  color: #956a47;
}

a:hover {
  text-decoration: none;
  color: #ff7400;
}

#content {
  width: 96%;
  margin: 0 auto;
  max-width: 800px;
}

#words {
  width: 300px;
  margin: 40px auto;
  font-size: 18px;
}

#left {
  float: left;
  margin: 20px 0 20px 0;
  width: 60%;
  min-width: 400px;
}

#right {
  float: right;
  margin: 20px 0 20px 0;
  padding-left: 2%;
  width: 38%;
  min-width: 250px;
  height: 100%;
  color: #957b47;
}

#right p {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

#container {
  position : relative;
  width : 400px;
  height: 300px;
  border: 1px dashed #957b47;
}

#text {
  color: #304064;
}

#overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  -o-transform : scaleX(-1);
  -webkit-transform : scaleX(-1);
  transform : scaleX(-1);
  -ms-filter : fliph; /*IE*/
  filter : fliph; /*IE*/
}

#videoel {
  -o-transform : scaleX(-1);
  -webkit-transform : scaleX(-1);
  transform : scaleX(-1);
  -ms-filter : fliph; /*IE*/
  filter : fliph; /*IE*/
}

#sketch {
  display: none;
}

#filter {
  display: none;
}

.nogum {
  display : none;
}

.btn {
  font-family: 'Questrial';
  font-size: 16px;
  margin: 10px 0 10px 0;
}

.hide {
  display : none;
}

.nohide {
  display : block;
}
